:root {
    --main-green: #9db03a;
    --header-BG: #e1e0d9;
    --light-dark: #363538;
    --section-color: #37332c;
    --light-gray: #888888;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--light-dark);
    color: #fff;

    padding-bottom: 4rem;
}

.footer .logo {
    margin: 4rem 0 2rem 0;
    width: 190px;
    cursor: pointer;
}

/* ROW ONE */
.footer-row-one {
    margin: 1rem 0 2rem 0;
}

.footer-row-one a {
    text-decoration: none;
    color: #fff;

    margin-right: 2rem;
    font-size: 14px;
    font-weight: bold;
}

/* ROW TWO */
.footer-row-two a {
    color: #858585;
    margin-right: 1rem;
    font-size: 14px;
    cursor: pointer;
}


/* ROW THREE */
.footer-row-three {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.footer-row-three p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: .5rem;
}

.opening-hours a {
    display: flex;
    justify-content: center;

    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    

    background: #2d2d2e;
    width: 180px;
    margin: 0 auto;
    padding: .5rem 1rem;
    color: #fff;
}

.payment-method p {
    text-align: center;
}

.payment-method img {
    width: 50px;
    height: 30px;
    background: white;
}

.payment-method .imgs {
    display: flex;
    gap: 1rem;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media i {
    font-size: 24px;
    margin-right: 1rem;
    cursor: pointer;
}

/* FOOTER DISCLAIMER */
.footer-disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: black;
    padding: 2rem 0;
}
.footer-disclaimer p {
    color: #fff;
    font-size: 14px;
    line-height: 1.3rem;
}

.footer-disclaimer p:first-child {
    font-size: 10px;
    padding-bottom: .5rem;
}

.footer-disclaimer a {
    color: #fff;
    margin-left: 4rem;
}